# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Docker / local data
mysql_data/
